<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Teachers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid px-4 py-4">

    <div class="row">
      <div class="col-10"></div>
      <div class="col-2 text-right">
        <div sec:authorize="isAuthenticated()" class="align-text-top form-group">
          <form th:action="@{/logout}" method="post" class="form-inline">
            <label><strong>@<span sec:authentication="name"></span></strong></label>
            <input type="submit" class="btn link form-control" value="[Logout]"/>
          </form>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <h1>Teachers</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <dv>
          <div th:if="${teachers.isEmpty()}" class="alert alert-warning text-center" role="alert">
            <b>Teachers not found...</b>
          </div>

          <table th:unless="${teachers.isEmpty()}" class="table table-striped">
            <tr class="thead-dark">
              <th>#</th>
              <th>Name</th>
              <th>Courses</th>
            </tr>
            <tr th:each="teacher, iStat: ${teachers}">
              <td th:text="${iStat.index + 1}"></td>
              <td th:text="${teacher.getName()}"/>
              <td th:text="${teacher.getCourses().isEmpty() ? '-' : teacher.getCoursesNames()}"/>
            </tr>
          </table>
        </dv>
      </div>
    </div>
  </div>

</body>
</html>